<div class="node" style="
  transform: translate(@(Noded.Pos.x)px, @(Noded.Pos.y)px); 
  filter: @(Top && (Held || Pull) ? "drop-shadow(2px 4px 6px #00000033)" : "unset");
  ">
  <div class="node-drag" style="
    background-color: @(Noded.Color); color: #ffffff80;
    cursor: @(Held ? "grabbing" : "grab");
  ">:&nbsp;:</div>
  <textarea @bind="Noded.Text" style="
    width: @(Noded.Area.x)px; height: @(Noded.Area.y)px; 
    background-color: @(Top && Cull ? "red" : "white");
    color: @(Top && Cull ? "white" : "black");
  "></textarea>
  <div class="node-area">
    <img src="svg-icons/fullscreen-enter.svg" />
  </div>
</div>

@code {
  [Parameter]
  public Node Noded { get; set; } = new Node();
  [Parameter]
  public int Index { get; set; }

  @* [Parameter]
  public Action<bool> AddNode { get; set; } *@

  [Parameter] public bool Top { get; set; }

  [Parameter] public bool Held { get; set; }
  [Parameter] public bool Pull { get; set; }
  [Parameter] public bool Cull { get; set; }
}

@* 
@onmousedown="() => AddNode(true)"
@onmousedown="@(Shelved ? IndexBased.AddNode : ()=> {})"
 *@