<div class="scroll" style="
  transform: translate(@(Data.pos.x)px, @(Data.pos.y)px);
">
  <input @bind="Data.name" @bind:event="oninput" type="text" class="@(Edit ? "no-select" : "")" style="
    width: @(Data.area.x)px;
	  background-color: @(Top && Cull ? "red" : Data.color);
  " />
  <textarea @bind="Data.text" @bind:event="oninput" class="@(Edit ? "no-select" : "")" style="
    width: @(Data.area.x)px; height: @(Data.area.y)px; 
    background-color: @(Top && Cull ? "red" : "white");
    color: @(Top && Cull ? "white" : "black");
  "></textarea>
  <div style="
    pointer-events: none; user-select: none;
    position: fixed;
    background-color: #80808040;
    left: 33.33%; right: 33.33%; bottom: 4px;
    height: 2px;
    border-radius: 2px;
  "></div>
  <div hidden="@(!Edit)" style="
    user-select: none; moz-user-select: none; -webkit-user-select: none;
    position: fixed; top: 0; left: 0; right: 0; bottom: 0;
    background-color:  @(Top && Held ? "#00000010" : "#00000080");
    outline: 2px solid @(Top && Pull ? "#ffffffff" : "#ffffff80");
    outline-offset: -2px;
    border-radius: 10px;
  ">
  @* each corner? *@
    <div style="
      position: fixed;
      right: 10px; bottom: 10px;
      background-color: white; 
      width:  10px; 
      height: 10px;
      border-radius: 5px;
    "></div>
  </div>
</div>


<div style="
  width: 1px; height: 1px;
  position: fixed;
  transform: translate(@(Data.pos.x)px, @(Data.pos.y)px);
  background-color: magenta;
  display: none;
"></div>
<div style="
  width: 1px; height: 1px;
  position: fixed;
  transform: translate(@(Data.pos.x + Data.area.x + 20)px, @(Data.pos.y + Data.area.y + 40)px);
  background-color: magenta;
  display: none;
"></div>

@code {
  [Parameter]
  public Scroll Data { get; set; } = new Scroll();
  [Parameter]
  public int Index { get; set; }

  [Parameter] public bool Top  { get; set; }
  [Parameter] public bool Next { get; set; }


  string outlineColor { get {
    string color    = "#00000022";
    if (Top) color  = "#ffffffff";
    if (Next) color = "#000000ff";
    return color;
  }}

  [Parameter] public bool Edit { get; set; }
  [Parameter] public bool Held { get; set; }
  [Parameter] public bool Pull { get; set; }
  [Parameter] public bool Cull { get; set; }
}

@* 
@onmousedown="() => AddNode(true)"
@onmousedown="@(Shelved ? IndexBased.AddNode : ()=> {})"
 *@