<div style="
	position: fixed;
  top: @(Shelff ? "0" : "-400")px;
  width: 100vw;
	height: 400px;
	background-color: #404040ee;
  transform: translate(@(-X)px, @(-Y)px);
  border-bottom: 1px solid #606060;
  transition: top 0.3s;
">
@foreach (var (node, index) in Nodes.Select((node, index) => (node, index))) {
  <CNode Noded="@node" Index="@index" />
}
</div>

@code {
  [Parameter]
  public bool Shelff { get; set; }
  [Parameter]
  public double X { get; set; }
  [Parameter]
  public double Y { get; set; }
  [Parameter]
  public List<Node> Nodes { get; set; } = new();
}
