<div style="
	position: fixed;
  top: @(Shelff ? "0" : "-400")px;
  width: 100vw;
	height: 400px;
	background-color: #404040ee;
  transform: translate(@(-X)px, @(-Y)px);
  border-bottom: 2px solid #606060;
  transition: top 0.3s;
">
@foreach (var (node, index) in Nodes.Select((node, index) => (node, index))) {
  @if (node.shelf) {
		<CNode Noded="@node" Index="@index" Top="@(index == Nodes.Count-1)" Held="@Held" Pull="@Pull" Cull="@Cull" />
  }
}
</div>

@code {
  [Parameter]
  public bool Shelff { get; set; }
  [Parameter]
  public double X { get; set; }
  [Parameter]
  public double Y { get; set; }
  [Parameter]
  public ObservableCollection<Node> Nodes { get; set; } = new();


  [Parameter]
  public bool Held { get; set; }
  [Parameter]
  public bool Pull { get; set; }
  [Parameter]
  public bool Cull { get; set; }
}
