@page "/"
@* @using ai.Data *@
@* @inject ILocalStorageService localStorage *@
@* @inject IJSRuntime JSRuntime *@

@* @using ChangeEventArgs = Microsoft.AspNetCore.Components.ChangeEventArgs *@

@inherits ai.IndexBase

<div style="display: none;">
<input @bind="Prompter" type="username" autocomplete="username" placeholder="Prompter" style="text-align: center; max-width: 256; margin: 0 auto;" />
<br>

@foreach (var scroll in Scrolls) {
	<div class="scroll">
		<input @bind="scroll.Label" />
		<textarea @bind="scroll.Text"></textarea>
		@* <input type="checkbox" @bind="scroll.IsDone" /> *@
	</div>
	<br>
}

<button @onclick="Complete" disabled="@Loading">
	<svg class="@(Loading ? "spin" : "") @(Error ? "error" : "")" xmlns="http://www.w3.org/2000/svg" height="36" viewBox="0 0 32 32">
		@* <circle cx="16" cy="16" r="1" /> *@
		<g transform="translate(1.4, 1.23)">
			<path d="M27.21,12.08c.67-2.01,.44-4.21-.63-6.04-1.61-2.8-4.85-4.24-8.01-3.57C17.16,.89,15.14-.01,13.02,0c-3.23,0-6.1,2.08-7.1,5.15-2.08,.43-3.87,1.73-4.92,3.57-1.62,2.8-1.25,6.32,.92,8.72-.67,2.01-.44,4.21,.63,6.03,1.61,2.81,4.85,4.25,8.02,3.58,1.4,1.58,3.42,2.49,5.54,2.48,3.23,0,6.1-2.08,7.1-5.15,2.08-.43,3.87-1.73,4.91-3.57,1.63-2.8,1.26-6.32-.91-8.72Zm-2.3-5.07c.64,1.12,.88,2.43,.66,3.7-.04-.03-.12-.07-.17-.1l-5.88-3.4c-.3-.17-.67-.17-.97,0l-6.89,3.98v-2.92l5.69-3.29c2.65-1.53,6.03-.62,7.56,2.03Zm-13.25,6.07l2.9-1.68,2.9,1.68v3.35l-2.9,1.68-2.9-1.68v-3.35ZM13.01,1.93c1.3,0,2.55,.45,3.55,1.28-.04,.02-.12,.07-.18,.1l-5.88,3.39c-.3,.17-.48,.49-.48,.84v7.96l-2.53-1.46V7.46c0-3.06,2.47-5.53,5.53-5.54ZM2.68,9.69h0c.65-1.12,1.66-1.98,2.88-2.43v6.99c0,.35,.18,.66,.48,.84l6.88,3.97-2.54,1.47-5.68-3.28c-2.64-1.53-3.55-4.91-2.02-7.56Zm1.55,12.83h0c-.65-1.11-.88-2.43-.66-3.7,.04,.03,.12,.07,.17,.1l5.88,3.4c.3,.17,.67,.17,.97,0l6.88-3.98v2.92l-5.69,3.28c-2.65,1.52-6.03,.62-7.56-2.02Zm11.89,5.08c-1.29,0-2.55-.45-3.54-1.28,.04-.02,.13-.07,.18-.1l5.88-3.39c.3-.17,.49-.49,.48-.84v-7.95l2.53,1.46v6.57c0,3.06-2.48,5.54-5.53,5.54Zm10.34-7.76c-.65,1.12-1.67,1.98-2.88,2.42v-6.99c0-.35-.18-.67-.48-.84h0l-6.89-3.98,2.53-1.46,5.69,3.28c2.65,1.53,3.55,4.91,2.02,7.56Z"></path>
		</g>
	</svg>
	complete
</button>
<br>

<div class="scroll">
	<input @bind="OutputLabel" />
	<textarea @bind="Outputs[OutputIndex]"></textarea>
</div>
<br>

<div style="display: flex; max-width: 600px; margin: 0 auto; gap: 16px; justify-content: center;">
	<button @onclick="Back" disabled="@(Loading || OutputIndex == 0)" style="margin: 0; padding: 0.5rem 1rem; height: fit-content; gap: 0;">
		<img class="icon" src="svg-icons/arrow-left.svg" />
		back
	</button>
	<button @onclick="Swap" disabled="@Loading" style="margin: 0;">
		<img class="icon" src="svg-icons/collapse-up.svg" />
		swap
	</button>
	<button @onclick="Next" disabled="@(Loading || OutputIndex == Outputs.Count - 1)"style="margin: 0; padding: 0.5rem 1rem; height: fit-content; gap: 0;">
		<img class="icon" src="svg-icons/arrow-right.svg" />
		next
	</button>
</div>
<br><br><br>
<br><br><br>
<br><br><br>

<div class="scroll" style="text-align: center;">
	@* @(Authorized ? "#00cc00" : "#800000"); *@
	<img class="icon" src="svg-icons/key.svg" style="filter: contrast(0%) sepia(30%) saturate(10000%) hue-rotate(@(Authorized ? "110": "-30")deg);" />
	<br>
	<input @bind="ApiKey" type="password" autocomplete="current-password" placeholder="sk-XXXXX..." class="apikey" style="max-width: 256px; margin: 0 auto;" spellCheck=false />
	<br>
	<a href="https://beta.openai.com/account/api-keys" target="_blank">
		Get OpenAI API Key
	</a>
	<br>
	<a href="https://beta.openai.com/docs/api-reference/completions/create" target="_blank">
		Documentation
	</a>
	<br>
	<a href="https://github.com/RageAgainstThePixel/OpenAI-DotNet" target="_blank">
		C# SDK
	</a>
	<br>
</div>
<br><br><br>

<div style="display: @(Authorized ? "block": "none"); text-align: center;">
	<img class="icon" src="svg-icons/text.svg" />
	<br>
	<div class="row">
		<div class="limit">&nbsp;&nbsp;16</div>
		<input @bind="MaxTokens" type="range" min="16" max="2048" step="2" />
		<div class="limit">2048</div>
	</div>
																									@* <input type="checkbox" /> 2x boost *@
	<br><br><br>

	<img class="icon" src="svg-icons/pulse.svg" />
	<br>
	<div class="row">
		<div class="limit">0</div>
		<input @bind="Temperature" type="range" min="0" max="1" step="0.01" />
		<div class="limit">1</div>
	</div>
	<br><br><br>

	<img class="icon" src="svg-icons/contrast.svg" />
	<br>
	<div class="row">
		<div class="limit">- 2</div>
		<input @bind="Contrast" type="range" min="-1.9" max="1.9" step="0.1" />
		<div class="limit">2</div>
	</div>
	<br><br><br>

	<img class="icon" src="svg-icons/loop-circular.svg" />
	<br>
	<div class="row">
		<div class="limit">- 2</div>
		<input @bind="Repeat" type="range" min="-1.9" max="1.9" step="0.1" />
		<div class="limit">2</div>
	</div>
</div>

<br><br><br>
<br><br><br>
<br><br><br>

<button @onclick="SetData">SET</button>
<br>
<button @onclick="GetData">GET</button>
<br>

</div>





<div 
	@ontouchmove="TouchMove" @ontouchstart="TouchStart" @ontouchend="TouchEnd" 
	@onmousemove="MouseMove" @onmousedown="MouseDown" @onmouseup="MouseUp" 
	style="position: fixed; top: 0; bottom: 0; left: 0; right: 0; transform: translate(0px, 0px);"
>
	
	@foreach (var scroll in Scrolls) {
		<div style="position: fixed; transform: translate(@(scroll.Pos.x)px, @(scroll.Pos.y)px); width: fit-content;">
			<input @bind="scroll.Label" style="position: fixed; bottom: calc(100% + 4px); padding: 0 4px; background-color: transparent; border-bottom: 1px solid #ffffff33;" />
			<div style="background-color: #57b373; user-select: none; height: 20px; width: 100%; position: fixed; left: -40px; top: -4px; z-index: -100;"></div>
			<textarea @bind="scroll.Text" style="border: 2px solid #ddd; resize: none; width: @(scroll.Area.x)px; height: @(scroll.Area.y)px; padding: 0 4px"></textarea>
			<div style="background-color: var(--interact); border-right: 1px solid #ffffff80; height: 20px; width: 40px; position: fixed; right: -20px; bottom: -10px; z-index: -100; transform: rotate(45deg);"></div>
		</div>
	}

</div>

@* <div style="transform: translate(@(cursor.x - 3)px, @(cursor.y - 3)px); width: 6px; height: 6px; background-color: black; border: 1px solid white; user-select: none; pointer-events: none;"></div> *@


@* <svg viewBox="0 0 240 80" xmlns="http://www.w3.org/2000/svg" style="background-color: darkgray;">
	<text contenteditable x="20" y="40" textLength="32px">@Con</text>
</svg> *@
