@page "/"
@inherits ai.IndexBase
@* @using ai.Data *@
@* @inject ILocalStorageService localStorage *@

@* <PageTitle>Index</PageTitle> *@

@* <br>
<button @onclick="Complete" disabled="@Loading">
	<svg class="@(Loading ? "spin" : "") @(Error ? "error" : "")" xmlns="http://www.w3.org/2000/svg" height="36" viewBox="0 0 32 32">
		<g transform="translate(1.4, 1.23)">
			<path d="M27.21,12.08c.67-2.01,.44-4.21-.63-6.04-1.61-2.8-4.85-4.24-8.01-3.57C17.16,.89,15.14-.01,13.02,0c-3.23,0-6.1,2.08-7.1,5.15-2.08,.43-3.87,1.73-4.92,3.57-1.62,2.8-1.25,6.32,.92,8.72-.67,2.01-.44,4.21,.63,6.03,1.61,2.81,4.85,4.25,8.02,3.58,1.4,1.58,3.42,2.49,5.54,2.48,3.23,0,6.1-2.08,7.1-5.15,2.08-.43,3.87-1.73,4.91-3.57,1.63-2.8,1.26-6.32-.91-8.72Zm-2.3-5.07c.64,1.12,.88,2.43,.66,3.7-.04-.03-.12-.07-.17-.1l-5.88-3.4c-.3-.17-.67-.17-.97,0l-6.89,3.98v-2.92l5.69-3.29c2.65-1.53,6.03-.62,7.56,2.03Zm-13.25,6.07l2.9-1.68,2.9,1.68v3.35l-2.9,1.68-2.9-1.68v-3.35ZM13.01,1.93c1.3,0,2.55,.45,3.55,1.28-.04,.02-.12,.07-.18,.1l-5.88,3.39c-.3,.17-.48,.49-.48,.84v7.96l-2.53-1.46V7.46c0-3.06,2.47-5.53,5.53-5.54ZM2.68,9.69h0c.65-1.12,1.66-1.98,2.88-2.43v6.99c0,.35,.18,.66,.48,.84l6.88,3.97-2.54,1.47-5.68-3.28c-2.64-1.53-3.55-4.91-2.02-7.56Zm1.55,12.83h0c-.65-1.11-.88-2.43-.66-3.7,.04,.03,.12,.07,.17,.1l5.88,3.4c.3,.17,.67,.17,.97,0l6.88-3.98v2.92l-5.69,3.28c-2.65,1.52-6.03,.62-7.56-2.02Zm11.89,5.08c-1.29,0-2.55-.45-3.54-1.28,.04-.02,.13-.07,.18-.1l5.88-3.39c.3-.17,.49-.49,.48-.84v-7.95l2.53,1.46v6.57c0,3.06-2.48,5.54-5.53,5.54Zm10.34-7.76c-.65,1.12-1.67,1.98-2.88,2.42v-6.99c0-.35-.18-.67-.48-.84h0l-6.89-3.98,2.53-1.46,5.69,3.28c2.65,1.53,3.55,4.91,2.02,7.56Z"></path>
		</g>
	</svg>
	complete
</button>
<br>

<div style="display: flex; max-width: 600px; margin: 0 auto; gap: 16px; justify-content: center;">
	<button @onclick="Back" disabled="@(Loading || OutputIndex == 0)" style="margin: 0; padding: 0.5rem 1rem; height: fit-content; gap: 0;">
		<img class="icon" src="svg-icons/arrow-left.svg" />
		back
	</button>
	<button @onclick="Swap" disabled="@Loading" style="margin: 0;">
		<img class="icon" src="svg-icons/collapse-up.svg" />
		swap
	</button>
	<button @onclick="Next" disabled="@(Loading || OutputIndex == Outputs.Count - 1)"style="margin: 0; padding: 0.5rem 1rem; height: fit-content; gap: 0;">
		<img class="icon" src="svg-icons/arrow-right.svg" />
		next
	</button>
</div> 
*@


@* 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 *@

<div 
	@ontouchmove="TouchMove" @ontouchstart="TouchStart" @ontouchend="TouchEnd" 
	@onmousemove="MouseMove" @onmousedown="MouseDown" @onmouseup="MouseUp" 
	style="position: fixed; top: 0; bottom: 0; left: 0; right: 0;"
>
	<div style="transform: translate(@(Canvas.x)px, @(Canvas.y)px);">
	@foreach (var (node, index) in Nodes.Select((node, index) => (node, index))) {
		@if (index == Nodes.Count-1 && held) {
			<CShelf Shelff="@Shelf" X="@Canvas.x" Y="@Canvas.y" Nodes="@mono.Shelf" />
		}
		<CNode Noded="@node" Index="@index" Top="@(index == Nodes.Count-1)" Held="@held" Pull="@pull" Cull="@cull" />
	}
	@if (!held) {
		<CShelf Shelff="@Shelf" X="@Canvas.x" Y="@Canvas.y" Nodes="@mono.Shelf" />
	}
	</div>
</div>

@* 
	shelf
		add
		set (not today) 

	remove
*@


@* ai pathing through the nodes *@


@* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@

<div style="
	position: fixed;
	display: @(Menu ? "flex" : "none"); 
	flex-flow: column; align-items: center; justify-content: center;
	top: 0; bottom: 0; left: 0; right: 0;
	background-color: #000000ee;
	">

	@* Prompter Login *@
	<input @bind="Prompter" type="username" autocomplete="username" placeholder="Name" />
	<br>
	<input @bind="ApiKey" type="password" autocomplete="current-password" placeholder="Api Key" class="apikey" spellCheck=false />
	<br>
	<img class="icon" src="svg-icons/key.svg" style="filter: contrast(0%) sepia(30%) saturate(10000%) hue-rotate(@(ValidKey ? "110": "-30")deg);" />
	<br>
	<a href="https://beta.openai.com/account/api-keys" target="_blank">
		Get OpenAI API Key
	</a>
	<br>
	<a href="https://beta.openai.com/docs/api-reference/completions/create" target="_blank">
		Documentation
	</a>
	<br>
	<br>
	<br>

	@* Pattern Management *@
	<div hidden="@(!ValidKey)">
		<input @bind="Pattern" placeholder="Pattern" />
		<br>

		<div class="btn-row">
			<div @onclick="mono.Restore" disabled="@(!Cloud)" class="btn">
				<img src="svg-icons/cloud-download.svg" width="16px" />
				@(mono.Restored ? "Restored" : "Restore")
			</div>
			<div @onclick="mono.Record" disabled="@(!Cloud)" class="btn">
				<img src="svg-icons/cloud-upload.svg" width="16px" />
				@(mono.Recorded ? "Recorded" : "Record")
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>

	@* Model Paramaters *@
	<div hidden="@(!ValidKey)" style="text-align: center; color: white;">
		<img class="icon" src="svg-icons/text.svg" />
		<br>
		<div class="row">
			<div class="limit">&nbsp;&nbsp;16</div>
			<input @bind="MaxTokens" type="range" min="16" max="2048" step="2" />
			<div class="limit">2048</div>
		@* <input type="checkbox" /> 2x boost *@
		</div>
		<br>
		<br>

		<img class="icon" src="svg-icons/pulse.svg" />
		<br>
		<div class="row">
			<div class="limit">0</div>
			<input @bind="Temperature" type="range" min="0" max="1" step="0.01" />
			<div class="limit">1</div>
		</div>
		<br>
		<br>

		<img class="icon" src="svg-icons/contrast.svg" />
		<br>
		<div class="row">
			<div class="limit">- 2</div>
			<input @bind="Contrast" type="range" min="-1.9" max="1.9" step="0.1" />
			<div class="limit">2</div>
		</div>
		<br>
		<br>

		<img class="icon" src="svg-icons/loop-circular.svg" />
		<br>
		<div class="row">
			<div class="limit">- 2</div>
			<input @bind="Repeat" type="range" min="-1.9" max="1.9" step="0.1" />
			<div class="limit">2</div>
		</div>
		<br>
		<br>
	</div>
</div>


@* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ *@

<div @onclick="() => Menu = !Menu" hidden="@(!ValidKey)" class="btn" style="
		position: fixed;
		top: 12px; left: 12px;
	">
	<img src="svg-icons/@(Menu ? "pencil": "menu").svg" width="16px" />
</div>

<div @onclick="() => Shelf = !Shelf" hidden="@(!ValidKey || Menu)" class="btn" style="
		position: fixed;
		top: 12px; left: calc(50vw - 8px);
	">
	<img src="svg-icons/@(Shelf ? "chevron-top": "chevron-bottom").svg" width="16px" />
</div>


@*  
<input @bind="node.Label" style="
	position: fixed; 
	bottom: calc(100% + 5px); 
	width: calc(100% - 10px); 
	padding: 0 4px; 
	background-color: #333; 
	color: #fff; 
	border: 1px solid #00000033; 
	border-radius: 2px 2px 0 0;
"/>


	<button @onclick="StyleToggle">Style</button>
	<div id="test">
	</div>
	<style contenteditable="@Style" style="display: @(Style ? "block" : "none"); white-space: pre; spellcheck: false;">
/* 
Only Shift-Enter 
* { transition: all 0.2s; }
*/
#test {
  width: 32px;
  height: 32px;
  background-color: red;
  margin: 1px;
}
	</style>


<div style="transform: translate(@(cursor.x - 3)px, @(cursor.y - 3)px); width: 6px; height: 6px; background-color: black; border: 1px solid white; user-select: none; pointer-events: none;"></div>


<svg viewBox="0 0 240 80" xmlns="http://www.w3.org/2000/svg" style="background-color: darkgray;">
	<text contenteditable x="20" y="40" textLength="32px">@Con</text>
</svg>

@functions {
	// node html markup
	private MarkupString RenderNode() {
		return new MarkupString(@"
			<div>div
			</div>
		");
	}
}

*@
